# flyctl launch added from .gitignore
node_modules
public\hot
public\storage
storage\*.key
vendor
**\.env
**\.env.backup
**\.phpunit.result.cache
**\docker-compose.override.yml
**\Homestead.json
**\Homestead.yaml
**\npm-debug.log
**\yarn-error.log

# flyctl launch added from bootstrap\cache\.gitignore
bootstrap\cache\**\*
!bootstrap\cache\**\.gitignore

# flyctl launch added from database\.gitignore
database\**\*.sqlite
database\**\*.sqlite-journal

# flyctl launch added from sendmail_laravel8\.gitignore
sendmail_laravel8\node_modules
sendmail_laravel8\public\hot
sendmail_laravel8\public\storage
sendmail_laravel8\storage\*.key
sendmail_laravel8\vendor
sendmail_laravel8\**\.env
sendmail_laravel8\**\.env.backup
sendmail_laravel8\**\.phpunit.result.cache
sendmail_laravel8\**\docker-compose.override.yml
sendmail_laravel8\**\Homestead.json
sendmail_laravel8\**\Homestead.yaml
sendmail_laravel8\**\npm-debug.log
sendmail_laravel8\**\yarn-error.log
sendmail_laravel8\.idea
sendmail_laravel8\.vscode

# flyctl launch added from sendmail_laravel8\bootstrap\cache\.gitignore
sendmail_laravel8\bootstrap\cache\**\*
!sendmail_laravel8\bootstrap\cache\**\.gitignore

# flyctl launch added from sendmail_laravel8\database\.gitignore
sendmail_laravel8\database\**\*.sqlite*

# flyctl launch added from sendmail_laravel8\storage\app\.gitignore
sendmail_laravel8\storage\app\**\*
!sendmail_laravel8\storage\app\**\public
!sendmail_laravel8\storage\app\**\.gitignore

# flyctl launch added from sendmail_laravel8\storage\app\public\.gitignore
sendmail_laravel8\storage\app\public\**\*
!sendmail_laravel8\storage\app\public\**\.gitignore

# flyctl launch added from sendmail_laravel8\storage\framework\.gitignore
sendmail_laravel8\storage\framework\**\compiled.php
sendmail_laravel8\storage\framework\**\config.php
sendmail_laravel8\storage\framework\**\down
sendmail_laravel8\storage\framework\**\events.scanned.php
sendmail_laravel8\storage\framework\**\maintenance.php
sendmail_laravel8\storage\framework\**\routes.php
sendmail_laravel8\storage\framework\**\routes.scanned.php
sendmail_laravel8\storage\framework\**\schedule-*
sendmail_laravel8\storage\framework\**\services.json

# flyctl launch added from sendmail_laravel8\storage\framework\cache\.gitignore
sendmail_laravel8\storage\framework\cache\**\*
!sendmail_laravel8\storage\framework\cache\**\data
!sendmail_laravel8\storage\framework\cache\**\.gitignore

# flyctl launch added from sendmail_laravel8\storage\framework\cache\data\.gitignore
sendmail_laravel8\storage\framework\cache\data\**\*
!sendmail_laravel8\storage\framework\cache\data\**\.gitignore

# flyctl launch added from sendmail_laravel8\storage\framework\sessions\.gitignore
sendmail_laravel8\storage\framework\sessions\**\*
!sendmail_laravel8\storage\framework\sessions\**\.gitignore

# flyctl launch added from sendmail_laravel8\storage\framework\testing\.gitignore
sendmail_laravel8\storage\framework\testing\**\*
!sendmail_laravel8\storage\framework\testing\**\.gitignore

# flyctl launch added from sendmail_laravel8\storage\framework\views\.gitignore
sendmail_laravel8\storage\framework\views\**\*
!sendmail_laravel8\storage\framework\views\**\.gitignore

# flyctl launch added from sendmail_laravel8\storage\logs\.gitignore
sendmail_laravel8\storage\logs\**\*
!sendmail_laravel8\storage\logs\**\.gitignore

# flyctl launch added from storage\app\.gitignore
storage\app\**\*
!storage\app\**\public
!storage\app\**\.gitignore

# flyctl launch added from storage\app\public\.gitignore
storage\app\public\**\*
!storage\app\public\**\.gitignore

# flyctl launch added from storage\framework\.gitignore
storage\framework\**\compiled.php
storage\framework\**\config.php
storage\framework\**\down
storage\framework\**\events.scanned.php
storage\framework\**\maintenance.php
storage\framework\**\routes.php
storage\framework\**\routes.scanned.php
storage\framework\**\schedule-*
storage\framework\**\services.json

# flyctl launch added from storage\framework\cache\.gitignore
storage\framework\cache\**\*
!storage\framework\cache\**\data
!storage\framework\cache\**\.gitignore

# flyctl launch added from storage\framework\cache\data\.gitignore
storage\framework\cache\data\**\*
!storage\framework\cache\data\**\.gitignore

# flyctl launch added from storage\framework\sessions\.gitignore
storage\framework\sessions\**\*
!storage\framework\sessions\**\.gitignore

# flyctl launch added from storage\framework\testing\.gitignore
storage\framework\testing\**\*
!storage\framework\testing\**\.gitignore

# flyctl launch added from storage\framework\views\.gitignore
storage\framework\views\**\*
!storage\framework\views\**\.gitignore

# flyctl launch added from storage\logs\.gitignore
storage\logs\**\*
!storage\logs\**\.gitignore

# flyctl launch added from vendor\facade\ignition\resources\.gitignore
vendor\facade\ignition\resources\**\compiled\*
!vendor\facade\ignition\resources\**\compiled\index.html
!vendor\facade\ignition\resources\**\compiled\ignition.js

# flyctl launch added from vendor\hamcrest\hamcrest-php\.gitignore
vendor\hamcrest\hamcrest-php\**\composer.lock
vendor\hamcrest\hamcrest-php\**\vendor

# flyctl launch added from vendor\psr\container\.gitignore
vendor\psr\container\**\composer.lock
vendor\psr\container\**\composer.phar
vendor\psr\container\vendor

# flyctl launch added from vendor\psr\event-dispatcher\.gitignore
vendor\psr\event-dispatcher\vendor
vendor\psr\event-dispatcher\**\composer.lock

# flyctl launch added from vendor\psr\http-factory\.gitignore
vendor\psr\http-factory\**\composer.lock
vendor\psr\http-factory\**\vendor

# flyctl launch added from vendor\sebastian\resource-operations\.gitignore
vendor\sebastian\resource-operations\.idea
vendor\sebastian\resource-operations\.php_cs.cache
vendor\sebastian\resource-operations\build\FunctionSignatureMap.php
vendor\sebastian\resource-operations\composer.lock
vendor\sebastian\resource-operations\vendor
vendor\sebastian\resource-operations\.phpunit.result.cache

# flyctl launch added from vendor\sebastian\version\.gitignore
vendor\sebastian\version\.php_cs.cache
vendor\sebastian\version\.idea

# flyctl launch added from vendor\swiftmailer\swiftmailer\.gitignore
vendor\swiftmailer\swiftmailer\.php_cs.cache
vendor\swiftmailer\swiftmailer\.phpunit
vendor\swiftmailer\swiftmailer\.phpunit.result.cache
vendor\swiftmailer\swiftmailer\build\*
vendor\swiftmailer\swiftmailer\composer.lock
vendor\swiftmailer\swiftmailer\phpunit.xml
vendor\swiftmailer\swiftmailer\tests\acceptance.conf.php
vendor\swiftmailer\swiftmailer\tests\smoke.conf.php
vendor\swiftmailer\swiftmailer\vendor

# flyctl launch added from vendor\symfony\deprecation-contracts\.gitignore
vendor\symfony\deprecation-contracts\**\vendor
vendor\symfony\deprecation-contracts\**\composer.lock
vendor\symfony\deprecation-contracts\**\phpunit.xml

# flyctl launch added from vendor\symfony\event-dispatcher-contracts\.gitignore
vendor\symfony\event-dispatcher-contracts\**\vendor
vendor\symfony\event-dispatcher-contracts\**\composer.lock
vendor\symfony\event-dispatcher-contracts\**\phpunit.xml

# flyctl launch added from vendor\symfony\service-contracts\.gitignore
vendor\symfony\service-contracts\**\vendor
vendor\symfony\service-contracts\**\composer.lock
vendor\symfony\service-contracts\**\phpunit.xml

# flyctl launch added from vendor\symfony\translation-contracts\.gitignore
vendor\symfony\translation-contracts\**\vendor
vendor\symfony\translation-contracts\**\composer.lock
vendor\symfony\translation-contracts\**\phpunit.xml
fly.toml
